.mcp-img{
    width: 200px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    line-height: 0;
}

.mcp-img:hover > img{
    -webkit-transform:rotate(20deg) scale(1.2);
    -moz-transform: rotate(20deg) scale(1.2);
    -ms-transform: rotate(20deg) scale(1.2);
    -o-transform: rotate(20deg) scale(1.2);
    transform: rotate(20deg) scale(1.2);
}

.mcp-img:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to left, rgba(146, 146, 146, 0.42), #11de93 );
    opacity: 0.8;

}